@import "./modules/_fonts.css";

@import "tailwindcss";

:root {
  --font-jost: "Jost", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --purple-color: #7044cc;
}

@layer base {
  body {
    font-family: "Jost", serif;
  }
}

@layer components {
  .custom-container {
    @apply mx-auto w-full p-5 md:max-w-[1200px];
  }
  .trust__step {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5f37d0;
    font-weight: 700;
  }
}

@layer utilities {
  .font-jost {
    font-family: var(--font-jost);
  }
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
  .font-notosans {
    font-family: var(--font-noto-sans);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }
  .purple-color {
    color: var(--purple-color);
  }
}
